#!/bin/bash
{{range $dir := lsdir "/services/nginx"}}

{{$filename := base $dir}
# {{$filename}}

{{$sslcrt := printf "/services/nginx/%s/ssl-crt" $dir}}
echo "{{getv $sslcrt}}" > /etc/nginx/keys/{{base $dir}}.crt

{{$sslkey := printf "/services/nginx/%s/ssl-key" $dir}}
echo "{{getv $sslkey}}" > /etc/nginx/keys/{{base $dir}}.key

{{$restrict := printf "/services/nginx/%s/restrict" $dir}}
{{if exists $restrict}}
  {{$htpassword := printf "/etc/nginx/keys/%s.htpasswd" $filename }}
  rm {{$htpassword}}
  touch {{$htpassword}}

  {{range $restriction := lsdir $restrict}}
    {{$user := base $restriction}}
    {{$password := getv $restriction}}
    htpasswd {{$htpassword}} exampleuser {{$user}} "{{$password}}"
  {{end}}
{{end}}

{{end}}
