{{range $dir := lsdir "/services/nginx"}}

{{$filename := base $dir}}
upstream {{$filename}} {
    {{$custdir := printf "/services/nginx/%s/servers/*" $filename}}
    {{range gets $custdir}}
    server {{$data := json .Value}}{{$data.ip}}:{{$data.port}};
    {{end}}
}

{{$servernamedir := printf "/services/nginx/%s/root" $filename}}

server {
	listen 80;

	server_name {{getv $servernamedir}};
	location / {
		return 301 https://{{getv $servernamedir}}/;
	}
}

server {
	listen 443;
	server_name {{getv $servernamedir}};

	ssl on;
	ssl_certificate /etc/nginx/keys/{{$filename}}.crt;
	ssl_certificate_key /etc/nginx/keys/{{$filename}}.key;

	location / {
		proxy_pass http://{{$filename}};
		proxy_redirect off;
		proxy_set_header Host $host;
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Proto $scheme;
		{{$restrict := printf "/services/nginx/%s/restrict" $filename}}
		{{if exists $restrict}}
  		  {{$htpassword := printf "/etc/nginx/keys/%s.htpasswd" $filename }}
		  auth_basic "Restricted";
		  auth_basic_user_file {{$htpassword}};
		{{end}}
	}
}
{{end}}
